{% extends 'templates/layout.html.twig' %}

{# app/Resources/views/layout.html.twig #}
{% block head %}
	<title>Alta de {{ title }}</title>
{% endblock %}
{% block body %}
<div class="text-center container col-md-6 mt-5">
  <h1>Alta de {{ title }}</h1>
  <form class="form-signin" action="/guardar/{{ table }}" method="POST">
    <div class="">
      <label for="descripcion" class="sr-only">Descripción</label>
      <input type="text" id="descripcion" name="descripcion" class="form-control" placeholder="Descripcion" required autofocus value="{% if object is defined %}{{ object.descripcion }}{% endif %}">
    </div>

      <button class="btn btn-lg bg-violet btn-block mt-3 active" type="submit">Aceptar</button>
    </form>
</div>
{% endblock %}
