{% extends 'templates/layout.html.twig' %}

{# app/Resources/views/layout.html.twig #}
{% block head %}
<title>Pagina de inicio</title>
{% endblock %}
{% block body %}
<div class="text-center container col-md-10 offset-md-1">
  <a href="#" class="btn btn-danger col-md-12 mt-3">Medidas protectorias vencidas</a>
  <a href="#" class="btn btn-warning col-md-12 mt-3">Medidas protectorias a vencerse</a>
</div>
{% endblock %}