{% extends 'templates/layout.html.twig' %}

{# app/Resources/views/layout.html.twig #}
{% block head %}
<title>Pagina de inicio</title>
{% endblock %}
{% block body %}
<div class="container mt-2">
  <div class="row justify-content-center">
    <a href="/perimetral/vencidas" class="btn btn-danger col-md-3 m-3 p-4">Medidas protectorias <br> vencidas: {{ medidasVencidas }}</a>
    <a href="/perimetral/aVencer" class="btn btn-warning col-md-3 m-3 p-4">Medidas protectorias <br> a vencerse: {{ medidasVencer }}</a>
  </div>
  <hr>
  <div class="row justify-content-center">
    <a href="{{ path('expediente_index')}}" class="btn btn-index col-md-5 m-3 p-4">Consultar expedientes</a>
    <a href="{{ path('expediente_new')}}" class="btn btn-index col-md-5 m-3 p-4">Crear expediente</a>
  </div>
</div>
{% endblock %}
