{% extends 'templates/layout.html.twig' %}

{# app/Resources/views/layout.html.twig #}
{% block head %}
<title>Iniciar sesion</title>
{% endblock %}
{% block navbar %}
{% endblock %}

{% block body %}
  {% block fos_user_content %}{% endblock %}
<!--
<div>
  <a href="#" class="btn btn-danger col-md-10 offset-md-1 mt-3">Medidas protectorias vencidas</a>
  <a href="#" class="btn btn-warning col-md-10 offset-md-1 mt-3">Medidas protectorias a vencerse</a>
</div>-->
<div class="text-center container col-md-4 mt-5">
  <form class="form-signin" action="/sesion" method="POST">
      <h1 class="h3 mb-3 font-weight-normal">Iniciar sesion</h1>
      <label for="dni" class="sr-only">DNI/Usuario</label>
      <input type="text" id="dni" name="dni" class="form-control" placeholder="DNI/Usuario" required autofocus>
      <label for="password" class="sr-only">Contraseña</label>
      <input type="password" name="password" id="password" class="form-control" placeholder="Contraseña" required>
      <button class="btn btn-lg bg-violet btn-block mt-3 active" type="submit">Aceptar</button>
    </form>
</div>
{% endblock %}

{% block footer %}
{% endblock %}