{% extends 'templates/layout.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Agregar seguimiento</h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="btn btn-success ml-5" type="submit" value="Create">
            <a class="btn btn-danger" href="">Back to the list</a>
        {{ form_end(form) }}
    </div>
    
{% endblock %}
