/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/var/
/app/config/parameters.yml
composer.phar
/var/cache/dev/appDevDebugProjectContainer.php
/var/cache/dev/appDevDebugProjectContainer.php.meta
/var/cache/dev/appDevDebugProjectContainer.xml
/var/cache/dev/appDevDebugProjectContainer.xml.meta
/var/cache/dev/appDevDebugProjectContainerCompiler.log
/var/logs/dev.log
/var/cache/dev/*