{% extends 'templates/layout.html.twig' %}
{% block head %}
  <title>Crear expediente</title>
{% endblock %}

{% block body %}
    <h1 align="center">Expediente</h1>
    <div class="panel-body">
        {{ form_start(form) }}
            {{ form_widget(form) }}

            <input type="submit" value="Guardar" />
        {{ form_end(form) }}
    </div>
    <ul>
        <li>
            <a href="{{ path('expediente_index') }}">Volver</a>
        </li>
    </ul>
{% endblock %}
